---
layout: ""
page_title: "Provider: Metabase"
subcategory: ""
description: |-
  The Metabase provider provides resources to interact with Metabase API.
---

# Metabase Provider

The Metabase provider provides resources to interact with Metabase API.
You need to get your API credentials from Metabase to be able to interact with the API.

## Example Usage

{{tffile "examples/main.tf"}}

{{ .SchemaMarkdown | trimspace }}
